@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*index and register*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dddddd;
}

.banner {
    background-color: #43e303;
    color: #000000;
    font-size: large;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background-color: #43e303;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 400px; */
}

.form-box {
    margin-bottom: 20px;
    width: 450px;
}

.form-box header {
    font-size: 25px;
    font-weight: 700;
    color: #040404;
    padding-bottom: 10px;
    border-bottom: 1px solid ff6c11
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .field label {
    margin-bottom: 5px;
    color: #000000;
}

.form-box form .field input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
}

.btn {
    background-color: #ffffff;
    color: #000000;
    padding: 0px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    opacity: 0.9;
}

.submit {
    width: 100%;
}

.link {
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

.here {
    color: #ffffff;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*home*/
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    background-color: #43e303;
    color: #000000;
    line-height: 60px;
    z-index: 100;
}

.homeBox {
    background-color: #ffffff7a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 900;
}

.right-links {
    padding: 0 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.main-homeBox {
    display: flex;
    /*changes may be made*/
    flex-direction: column;
    width: 70%;
}

.main-homeBox .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 840px) {
    .main-homeBox .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top .homeBox {
        margin: 10px 10px;
    }

    .bottom {
        margin-top: 0;
    }
}